<div class='col-xs-6'>
  <button (click)="add()" class="btn btn-primary">Dodaj</button>
  <table class="table table-striped">
      <tr>
        <th>
          lp.
        </th>
        <th> Imię</th>
        <th> Nazwisko</th>
        <th> Stypendium</th>
        <th></th>
      </tr>
    
  <tr *ngFor="let student of students; let i=index">
    <td> {{i+1}}</td>
    <td>{{student.FirstName}}</td>
    <td>{{student.LastName}}</td>
    <td>{{student.Grant}}</td>
    <td>
      <button (click)="edit(student)" class="btn btn-se btn-primary">Edytuj</button>
      <button (click)="delete(student)" class="btn btn-se btn-primary">Usuń</button>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>Suma</td>
    <td>{{sum}}</td>
    <td></td>
  </tr>
</table>
  </div>


<div class="col-xs-6">
  <div *ngIf="editStudent">
    <div class="form-group">
      <label class="control-label col-xs-3">Imię</label>
      <div class="col-xs-9">
        <input class="form-control" formControlName="FirstName" type="name" name="FirstName" placeholder="Podaj Imię"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-3">Nazwisko</label>
      <div class="col-xs-9">
        <input class="form-control" formControlName="lastName" type="name" name="LastName" placeholder="Podaj Nazwisko"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-3">Stypendium</label>
      <div class="col-xs-9">
        <input class="form-control" formControlName="Grant" type="number" name="grant" placeholder="Podaj kwotę stypy" />
      </div>
    </div>

    <div class="form-group">
      <button type="submit" (click)="save()" class="btn  btn-succes">Zatwierdź</button>
      <button type="button" (click)="cancel()" class="btn btn-warning">Anuluj</button>
    </div>

  </div>
</div>
